<template>
	<div>
		<nuxt-link :to="{name:'index'}">
			<img src="~assets/img/logo.png" alt="Nuxt.js Logo" class="logo" />
		</nuxt-link>
		<my-menu classname="menu"/>
	</div>
</template>

<script>
import MyMenu from '~/components/Menu/Menu.vue'
export default {
	components: { MyMenu }
}
</script>

<style lang="sass" scoped>
.logo
	width: 60px

.menu
	margin: 0
	padding: 0
	& /deep/ li
		display: inline-block
		margin-right: 20px
		&:last-child
			margin-right: 0
</style>
