<template>
	<div>
		<my-header/>
		<nuxt/>
		<my-footer/>
	</div>
</template>

<script>
import MyHeader from '~/components/Header/Header.vue'
import MyFooter from '~/components/Footer/Footer.vue'

export default {
  components: {
    MyHeader,
    MyFooter
  }
}
</script>

<style lang="sass">
.container
  margin: 0
  width: 100%
  padding: 100px 0
  text-align: center

.title
  color: #000
  font-weight: 300
  font-size: 2.5em
  margin: 0
</style>
