<template>
	<section class="container">
		<h2 class="info">{{ post.name }}</h2>
	</section>
</template>

<script>
import axios from '~/plugins/axios'

export default {
	name: 'slug',
	asyncData({ params, error }) {
		return axios.get('/api/posts/' + params.slug)
			.then(res => {
				return { post: res.data }
			})
			.catch(e => error({ statusCode: 404, message: 'User not found' }))
	},
	head() {
		return {
			title: `Post: ${this.post.name}`
		}
	}
}
</script>

<style lang="sass" scoped>
.info
	font-weight: 300
	margin: 0
</style>
