<template>
  <section class="container">
    <h1 class="title">Home</h1>
  </section>
</template>

<style lang="sass" scoped>
.title
  margin: 30px 0
.posts
  list-style: none
  margin: 0
  padding: 0
.post
  margin: 10px 0
</style>
