<template>
	<ul :class="classname">
		<li>
			<nuxt-link :to="{name:'index'}">Home</nuxt-link>
		</li>
		<li>
			<nuxt-link :to="{name:'blog'}">Blog</nuxt-link>
		</li>
	</ul>
</template>

<script>
export default {
  props: ['classname']
}
</script>

<style lang="sass">
.nuxt-link-exact-active.nuxt-link-active
	color: blue
</style>